.App {
    font-size: 10px;
    font-weight: normal;
}

.App button {
    background-color: #eeeeee;
    border: none;
    border-radius: 25px;
    color: #aaaaaa;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: none;
    cursor: pointer;
}

.App button[id='submitBtn'] {
    color: #fff;
    background-color: #065fd4;
}

.App button[id='clearBtn'] {
    color: #aaa;
    background-color: #eee;
}

.App button[id='replyBtn'] {
    color: #aaa;
    background-color: transparent;
    font-size: 8px;
    padding: 5px 7px;
}

.App button[id='replyBtn']:hover {
    background-color: #eee
}
.App button[id='replyChain'] {
    color: #3ea6ff;
    font-size: 20px;
    padding: 0px;
    background-color: transparent;
    border-radius: 0px;
    margin-left: 10px;
}

.App button[id='replyChain']:hover {
    color: #3ea6ff;
    font-size: 20px;
    padding: 0px;
    background-color: #3ea6bb;
    opacity: 25%;
    border-radius: 25px;
    margin-left: 10px;
}

.App .btn {
    color: #333;
    background-color: transparent;
    display: flex;
    float: right;
    gap: 10px;
}

.App textarea {
    height: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: transparent;
    margin-bottom: 10px;
    resize: none;
    outline: none;
    transition: 0.5s;
}

@media (prefers-color-scheme: dark) {
    .App,
    .App textarea {
        color: white;
    }
}
