.Comment {
    font-size: 1.4rem;
    width: 800px;
    margin-top: 2rem;
}

.Comment .Card {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    margin: 0.5rem;
    /* border-bottom: 1px solid #eee; */
}

.Comment .msg {
    margin: 5px 15px;
    text-align: left;
}

.Comment .header {
    display: flex;
}
.Comment .userName {
    font-weight: bold;
}

.Comment .date {
    color: #aaa;
    margin-top: 1.5px;
    margin-left: 10px;
}

.Comment .footer {
    display: flex;
    gap: 5px;
}

.Comment button.like {
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    padding: 5px 7px;
}

.Comment button.like:hover {
    color: #888;
    background-color: rgba(128, 147, 185, 0.25);
}

.Comment button.dislike {
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    padding: 5px 7px;
}

.Comment button.dislike:hover {
    color: #888;
    background-color: rgba(128, 147, 185, 0.25);
}

.Comment button.replyBtn {
    color: #fff;
    background-color: transparent;
    padding: 5px 7px;
}

.Comment button.replyBtn:hover {
    color: #888;
    background-color: rgba(128, 147, 185, 0.25);
}

.Comment .replyFeatures {
    display: flex;
    gap: 3px;
}

.Comment button.replyChain {
    color: #3ea6ff;
    font-size: 14px;
    padding: 0.25em;
    margin-left: 10px;
    background: none;
    border-radius: 50%;
    border: none;
}

.Comment button.replyChain:hover {
    background: rgba(62, 166, 187, 0.25);
}

.Comment button.replyChain:active {
    background: rgba(128, 147, 185, 0.25);
}

.Comment .replyCounter {
    color: #3ea6ff;
    padding: 0.25em;
    background: none;
    border-radius: 50%;
    border: none;
    margin-top: 1px;
}

.Comment svg {
    display: block;
}

.Comment .replies {
    margin-left: 2em;
}

.ReactCollapse--collapse {
    transition: height 500ms;
}
